NET "RGB_out[7]" LOC = N7;
NET "RGB_out[6]" LOC = V7;
NET "RGB_out[5]" LOC = U7;
NET "RGB_out[4]" LOC = V6;
NET "RGB_out[3]" LOC = T6;
NET "RGB_out[2]" LOC = P8;
NET "RGB_out[1]" LOC = T7;
NET "RGB_out[0]" LOC = R7;

NET "RGB_out[7]" IOSTANDARD = LVCMOS33;
NET "RGB_out[6]" IOSTANDARD = LVCMOS33;
NET "RGB_out[5]" IOSTANDARD = LVCMOS33;
NET "RGB_out[4]" IOSTANDARD = LVCMOS33;
NET "RGB_out[3]" IOSTANDARD = LVCMOS33;
NET "RGB_out[2]" IOSTANDARD = LVCMOS33;
NET "RGB_out[1]" IOSTANDARD = LVCMOS33;
NET "RGB_out[0]" IOSTANDARD = LVCMOS33;

NET "HSync" LOC = N6;
NET "VSync" LOC = P7;
NET "HSync" IOSTANDARD = LVCMOS33;
NET "VSync" IOSTANDARD = LVCMOS33;

NET "CLK" LOC = V10;
NET "CLR" LOC = B8;
NET "CLK" IOSTANDARD = LVCMOS33;
NET "CLR" IOSTANDARD = LVCMOS33;

NET "STEP" LOC = D9;
NET "STEP" IOSTANDARD = LVCMOS33;
NET "PAUSE" LOC = T5;
NET "PAUSE" IOSTANDARD = LVCMOS33;

NET "DEBUG" LOC = T10;
NET "DEBUG" IOSTANDARD = LVCMOS33;

#guns

NET "p1_trigger" LOC = P11;
NET "p1_trigger" PULLUP;
NET "p1_sens" LOC = N10;
NET "p1_sens" PULLUP;

NET "p1_shot" LOC = U16;
NET "p1_shot" IOSTANDARD = LVCMOS33;
NET "p1_hit" LOC = V16;
NET "p1_hit" IOSTANDARD = LVCMOS33;

NET "p2_trigger" LOC = L3;
NET "p2_trigger" PULLUP;
NET "p2_sens" LOC = L4;
NET "p2_sens" PULLUP;

NET "p2_shot" LOC = T11;
NET "p2_shot" IOSTANDARD = LVCMOS33;
NET "p2_hit" LOC = R11;
NET "p2_hit" IOSTANDARD = LVCMOS33;