NET "r0" LOC = U7;
NET "r1" LOC = V7;
NET "r2" LOC = N7;

NET "r0" IOSTANDARD = LVCMOS33;
NET "r1" IOSTANDARD = LVCMOS33;
NET "r2" IOSTANDARD = LVCMOS33;

NET "g0" LOC = P8;
NET "g1" LOC = T6;
NET "g2" LOC = V6;

NET "g0" IOSTANDARD = LVCMOS33;
NET "g1" IOSTANDARD = LVCMOS33;
NET "g2" IOSTANDARD = LVCMOS33;

NET "b0" LOC = R7;
NET "b1" LOC = T7;

NET "b0" IOSTANDARD = LVCMOS33;
NET "b1" IOSTANDARD = LVCMOS33;

NET "CLK" IOSTANDARD = LVCMOS33;
NET "CLR" IOSTANDARD = LVCMOS33;

NET "CLK" LOC = V10;
NET "CLR" LOC = B8;
NET "CLR" CLOCK_DEDICATED_ROUTE = FALSE;

NET "hSync" IOSTANDARD = LVCMOS33;
NET "vSync" IOSTANDARD = LVCMOS33;

NET "hSync" LOC = N6;
NET "vSync" LOC = P7;